
body{
	background-color:orange;
}

.input{
	
	text-align :center;
}

h1{
	font-family: "Times New Roman", Times, serif;

}

body {
    background-image: url("paper.gif");
    background-color: #cccccc;
}
