
body{

	background-color: orange;
}

.input{
	
	text-align :center;
}

.smallnote {
	position:absolute; 
	margin-top:400px;
	margin-left:100px;
}

.bignote {
	position:absolute; 
	margin-top:150px;
	margin-left:50px;
}

.smallnote1 {
	position:absolute; 
	margin-top:300px;
	margin-left:500px;
}

.bignote1 {
	position:absolute; 
	margin-top:50px;
	margin-left:550px;
}




