<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
  <h4>Instructions:</h4>
   <ol class="Instructions">
    <li>post your video as a 'private video' on your youtube account</li>
    <li>open the video</li>
    <li>press the 'share' button under the video</li>
    <li>press 'EMBED'</li>
    <li>copy the link that will appear on your screen and paste it in the 'Enter Url' </li>
    <li>add discribtion if needed</li>
  </ol> 
    <form class="discribtion">
     Enter Url: <input type = "text" name = "video"><br><br>
     Add Discribtion: <input type = "text" name = "description"><br><br>
     <button>Add Video</button>
    </form>
  </body>