<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>

    <h1> MUMENT </h1>
    

    <form action="{{ url_for('homepage') }}"> 

    <div class="buttons">
      <button>Profile</button> <br><br
      <button>log out</button> <br><br><br><br>    
      <button>publish</button> <br><br>
    </div>

    <!-- qweoiwjefoij
    {% for video in videos %}
      {{video.video}}
    {% endfor %}
    qwefuqwefoij -->

    add the video link from the youtyube, after the = tag <input type = "text" name = "add video">
    <input type = "submit" name = "post_video" value = "post video"> 

    <iframe width="560" height="315" src="https://www.youtube.com/embed/----------" frameborder="0" allowfullscreen></iframe>

    </form>

   </body>
</html>