<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>

    


    <form action="{{ url_for('homepage', user_id = user_id) }}" class="buttons"> 

      <div class="buttonpr">
      <a href="/profile/{{user_id}}">profile</a>
      </div>

      <div class="buttonl"> 
      <a href="/login">log out</a>
      </div>

      <div class="buttonpo">
      <a href="/publish/{{user_id}}">post</a>
      </div> 

      <div class="imgname">
       <img src="../static/img/name.png" alt="name" style="width:200px;height:35px;">
      </div>
   
    </form>
    
    {% for video in videos %}

    Owner: {{owners[video.video]}}
    <br>
    Description: {{video.description}}

    <div class ="videos">

    <iframe width="300" height="300" src="{{ video.video }}" frameborder="0" allowfullscreen id="video1-{{video.id}}"></iframe>
    {%if video.other_video %}
    <iframe width="300" height="300" src="{{ video.other_video }}" frameborder="0" allowfullscreen id="video2-{{video.id}}">
    </iframe><br>
    <button id="playbutton{{video.id}}">Play both videos</button>
    <script>$('#playbutton{{video.id}}').click(function(ev){
      $("#video1-{{video.id}}")[0].src += "?&autoplay=1";
      $("#video2-{{video.id}}")[0].src += "?&autoplay=1";
      ev.preventDefault();
    })</script>
    </div>
    {%endif%}
    <br><a href="/add/{{user_id}}/{{video.id}}">add</a>
    <br><br><br>
    <br>

    {% endfor %}

   </body>
</html>