<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>

  <div class="buttons">
      <div class="imgname">
       <img src="/static/img/name.png" alt="name" style="width:200px;height:35px;""> 
      </div>   
    </div>

    <div class="bird">
    <img src="/static/img/bird.png" alt="logo" style="width:100px; height: 100px;">
    </div>

  <div class="explain">  
  <h4>
    
  1. Post your video on YOUTUBE<br><br>
  2. Copy the embed from the video<br><br>
  3. Paste the embed in the space<br><br>
  4. Press on the Post button<br><br>

  </h4>
  </div>  


  <form action="{{ url_for('publish', user_id = user_id)}}" method="post" class="video_informantion">

  <br>
  Video Url: <input type="text" name="video"><br><br>
  Description: <input type="text" name="description">
  <input type="submit" src="{{url_for('static', filename='img/orangebutton.jpg')}}" alt="post video" width="48" height="48"> 


  </form>
  <a href="{{url_for('homepage', user_id=user_id)}}"><button>back</button></a>
  

  </body>