<!DOCTYPE html>
<html>
  <head>
      <title>Login</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>

  <body>

    <div class="bio_style">
      <div class="imgname">
       <img src="/static/img/name.png" alt="name" style="width:200px;height:35px;""> 
      </div>   
    </div>

    <div class="user_name">    
    <h2><strong>name : {{user.name}}</strong></h2>
    </div>

    <div class="desc">
      <h3><strong> {{desc}} </strong></h3>  
    </div>


  </body>