<!DOCTYPE html>
<html>
  <head>
      <title>Profile</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>

  <body>
    <div class="buttons">
    <div class="imgname">
       <img src="../static/img/name.png" alt="name" style="width:200px;height:35px;">
       <br>
    </div>
    </div>

  <br>
  <div class = "profile"><h2><strong>
  Name: {{user.name}}
  <br>
  Instruments: {{desc}}
  <br> <br> <br>
   
  <a href="{{url_for('homepage', user_id=user.id)}}"><button>back</button></a>
  </div></h2></strong>
  </body>
</html>  

