
<!DOCTYPE html>
<html>
  <head>
      <title>Mument</title>



      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
   /\/\/\/\/\/\/\/\/\/\/\/\/\/\/<img src="{{url_for('static', filename='img/mument_new.jpg')}}" alt="image" width="200" height="100">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

   <br><br><br>

        <form action="{{ url_for('register')}}" method="post">

     <div class="input">


     <h4><mark><strong>full name  </strong></mark><input type="text" name="fullname"></h4> 

     <h4><mark><strong>user name </strong></mark> <input type="text" name="username"></h4>

     <h4><mark><strong>password </strong></mark> <input type="password" name="password"></h4>

     <h4><mark><strong>email</strong></mark>  <input type="text" name="email"></h4>

     <h4><mark><strong>country</strong></mark> <select>  
       <option>Israel</option>
       <option>Palestine</option>
       <option>USA</option>
       </select> </h4>

       <h4><mark><strong><h5>-musician-</h5></strong></mark>
      <input type="checkbox" name="musician" value="sing"><mark><strong> sing</strong></mark><br>
      <input type="checkbox" name="musician" value="guitar" ><mark><strong>guitar</strong></mark><br>
      <input type="checkbox" name="musician" value="drums"> <mark><strong>drums</strong></mark><br>
      <input type="checkbox" name="musician" value="flute" ><mark><strong>flute</strong></mark></h4>
      
     


     
     <br><br><br>
     <input type="submit" name="signup" value="sign up">

     
    </form><br>
    <a href="/login">Already have an account?</a>
     </div>
  </body>
</html>
