
<!DOCTYPE html>
<html>
  <head>
      <title>Mument</title>



      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
   
      <div class="buttons">
      <div class="imgname">
       <img src="/static/img/name.png" alt="name" style="width:200px;height:35px;""> 
      </div>   
      </div>

      <div class="logo">
       <img src="/static/img/LOGO.png" alt="logo" style="width:130px;height:120px;""><br></div>
     

   <br><br><br><br><br><br>

        <form action="{{ url_for('register')}}" method="post">

     <div class="input">


     <h4><strong>full name  </strong><input type="text" name="fullname"></h4> 

     <h4><strong>user name </strong> <input type="text" name="username"></h4>

     <h4><strong>password </strong> <input type="password" name="password"></h4>

     <h4><strong>email</strong>  <input type="text" name="email"></h4>

     <h4><strong>country</strong> <select>  
       <option>Israel</option>
       <option>Palestine</option>
       <option>USA</option>
       </select> </h4>

       <strong><h5>-musician-</h5></strong>
      <input type="checkbox" name="musician" value="sing"><strong> sing</strong><br>
      <input type="checkbox" name="musician" value="guitar" ><strong>guitar</strong><br>
      <input type="checkbox" name="musician" value="drums"> <strong>drums</strong><br>
      <input type="checkbox" name="musician" value="flute" ><strong>flute</strong></h4>
      
     


     
     <br><br><br>
     <input type="submit" name="signup" value="sign up">

     
    </form><br><br><br><br>
    <a href="/login">Already have an account?</a>

    

    

  </body>
</html>
